/* Importa la fuente que sí estás usando */
@import url('https://fonts.cdnfonts.com/css/gotham');

/* Directivas estándar de Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define la fuente base para tu app */
@layer base {
  body {
    @apply font-gotham text-text-primary;
  }
}

/* --- INICIO ANIMACIÓN CARRUSEL HACKATHON --- */
/* Esta es la ÚNICA animación personalizada que usa tu HomePage */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  /* Puedes poner '20s' si lo quieres más rápido */
  animation: scroll 40s linear infinite;
}

.pause-animation:hover {
  animation-play-state: paused;
}

/* --- FIN ANIMACIÓN CARRUSEL HACKATHON --- */